<!DOCTYPE html>
<html lang="en" data-theme="luxury">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About</title>
      <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    
      <!-- Navbar -->
      <%- include('partials/navbar') %>

      <div class="page-container">

          <!-- Header -->
          <div class="standard-hero p-1">
            <div class="hero-content text-center py-4">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About</h1>
                <p class="py-3 text-lg">Meet the author of this website.</p>
              </div>
            </div>
          </div>

          <!-- Grid System -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div>
              <img class="w-full rounded-lg" src="\images\santi.jpg" alt="profile">
              <p class="text-lg mt-2" style="font-weight: bold;">Algonquin National Park, Canada.</p>
            </div>

            <div class="prose text-lg font-normal text-white">

              <p>My name is Santiago Camacho Moyano, born in Bogotá D.C, Colombia. I am a junior developer and intensively willing to enhance my engineering skills. Among the things that I like and/or relax me the most, is interacting with animals (specially dogs and ducks), hiking at any kind of biomas, and photographing amazing scenarios.</p>
            
              <p>People are usually stressed by their daily routines, specially in the big cities, and one useful method to relieve all discomfort, is to interact with the nature in the way that you think fits most to you. Personally I think hiking is one of the best choices you can ever have, as it allows you to unplug from your common duties and take a breath while observing all you can at your surroundings. If you ever try hiking, do not put music on, do not check your phone but just to take photos, enjoy the context; including the people who you are with, the wildlife, and have a personal moment for reflection as it will help you get out of the loop for a while.</p>

              <p>You belong to a world full of natural marvels, thousands of species, and an evolution which has passed through millions of years to finally settle you here, as an extremely rare event in the universe such as being a self-aware specimen. Probably you haven't given thought about the cirmunstances that have made you exist as you are right now, but be graceful each day for who you are, and where do you belong. 
              </p>

              <p>As a way of being grateful, Eco Pioneers is made for one great purpose: Foster our home Earth care by showing the people some of the greatest sustainable projects ever, proposed by the Project Drawdown organization. (<a class="wrap-normal text-blue-500">https://drawdown.org/</a>)

              </p>

            </div>

          </div>

      </div>


  </body>
</html>