<!DOCTYPE html>
<html lang="en" data-theme="luxury">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Pioneers</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

    <!-- Navbar -->
    <%- include('partials/navbar') %>
    <br>
    <!-- Hero -->
    <div class ="container mx-auto">
            <div class="hero bg-base-200 rounded-lg p-6">
              <div class="hero-content text-center ">
                <div class="max-w-full">
                  <h1 class="text-5xl font-bold">Welcome to Eco Pioneers 🌿</h1>

                  <p class="py-6" style="font-size: large;">Navigate through our several alternatives proposed to minimize Climate Change.</p>
                
                  <a href="/solutions/projects" class="btn  btn-primary">Explore now!</a>
                </div>
              </div>
            </div>
    <br>    

        <!--Grid system -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          <div>

            <div class="card bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="https://drawdown.org/sites/default/files/solutions2020/solutions_improvedcattlefeed02.jpg" alt="Improved Cattle    Feed">
              </figure>
              <div class="card-body">
                <h2 class="card-title">Improved Cattle Feed</h2>
                <p>Optimizing cattle feeding strategies can lower the methane emissions produced within the ruminant digestive system. Nutrient enriched    diets of high-quality forages, additives, and supplements aim to improve animal health and productivity.</p>
                <div class="card-actions justify-end py-6">
                  <a href="/solutions/projects/15" class="btn btn-primary">More Information</a>
                </div>
              </div>

            </div>
          </div>
          <div>

            <div class="card bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="https://drawdown.org/sites/default/files/solutions/solution_concentratedsolar01.jpg" alt="Concentrated Solar   Power">
              </figure>
              <div class="card-body">
                <h2 class="card-title">Concentrated Solar Power</h2>
                <p>Concentrated solar power uses sunlight as a heat source. Arrays of mirrors concentrate incoming rays onto a receiver to heat fluid,  produce steam, and turn turbines.</p>
                <div class="card-actions justify-end py-6">
                  <a href="/solutions/projects/9" class="btn btn-primary">More Information</a>
                </div>
              </div>

            </div>
          </div>
          <div>

            <div class="card bg-base-100 shadow-xl">
              <figure>
                <img class="w-full" src="https://drawdown.org/sites/default/files/solutions2020/solution_nutrientmanagement02.jpg" alt="Nutrient    Management">
              </figure>
              <div class="card-body">
                <h2 class="card-title">Nutrient Management</h2>
                <p>Overuse of nitrogen fertilizers-a frequent phenomenon in agriculture—results in the production of nitrous oxide, a potent greenhouse     gas. More judicious use of fertilizers can curb these emissions and reduce energy-intensive fertilizer production.</p>
                <div class="card-actions justify-end py-6">
                  <a href="/solutions/projects/25" class="btn btn-primary">More Information</a>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
</body>
</html>